@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
@import "tailwindcss";

@theme {
  --font-main: "Plus Jakarta Sans", sans-serif;
}

.vis-text, .vis-item {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.vis-item-overflow {
  overflow: visible !important;
}
